body{
    margin: auto;
}
header{
    background-color: #1F2937;
}
.logo{
    display: flex;
    flex: 1;
    font-size: 24px;
    color: #f9faf8;
}
.menu_one{
    display: flex;
    flex: 2;
}
h1{
    font-size: 48px;
    font-weight: extra-bold;
    color:#f9faf8;
}
p{
    font-size: 18px;
    color: #e5e7eb;
}
video{
    display: flex;
    flex: 1;
    height:250px;
    width: 400px;
}